.card {
    width: 250px;
    height: 150px;
    background-color: black;
    color: white;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    /* display: inline-block; */
   
  }
  
  .card h3 {
    margin-bottom: 10px;
  }
  
  .card-content {
    display: flex;
    align-items: center;
  }
  
  .card-content .icon {
    margin-left: 10px;
  }
  .automation-all {
    background-color: rgba(0, 0, 0, 0.877);
    /* border-radius: 5px; */
  }
  .automation-text {
    color: white;
    /* padding-left: 10px; */
    padding: 0 40px;
    padding-bottom: 4px;
    margin: 0;
    font-size: 24px; 
    text-decoration: underline solid white 15%;
    border-bottom: 0.5pt solid rgb(94, 92, 92);
  }
  .automate-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    padding: 10px 40px;
    }
  
  /* Additional styling for specific elements */
  .percentage,
  .hours,
  .score,
  .cost,
  .duration,
  .count,
  .revenue {
    font-weight: bold;
  }
  
  .percentage::after,
  .hours::after {
    content: '%';
  }
  
  .cost::after,
  .revenue::after {
    content: 'USD';
  }
/* automated content card  */
.Automation-card {
  width: 250px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.Automation-card h3 {
  margin-bottom: 10px;
}

.queue-chart {
  margin-bottom: 10px;
}

.card-content {
  display: flex;
  align-items: center;
}

.card-content .queue {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

/* Most Support Request Hours Card */
.Hours-card {
  width: 575px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.Hours-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hours-chart {
  margin-top: 10px;
}

.chart-top-support-request,
.chart-most-requested-hours{
  .apexcharts-xaxis-label {
    fill: white;
  };
}



  