.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.877);
  color: white;
  padding: 0 40px;
  height: 60px;
  /* margin-bottom: 1px; */
  border-bottom: 0.5pt solid rgb(94, 92, 92);
  /* border-radius: 10px; */
}

.analytics {
  margin: 0;
  font-size: 24px;
}

.right-content {
  display: flex;
  align-items: center;
}

.button-storeName {
  color: white;
  font-weight: bold;
}

.profile-icon {
  background-image: url("https://wallpapers.com/images/featured/cool-profile-picture-87h46gcobjl5e4xu.jpg");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.organization {
  color: white;
  margin-right: 10px;
}
