.loggedin-ai-chat {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  height: 100%;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
  width: 100%;
  /* margin-right: 10px; */
  padding: 4px 10px;
  background-color: transparent;
  border-bottom: #f9f9f950 1px solid;
}

.chat-header-text {
  display: flex;
  align-items: center;
}

.chat-header-text select {
  margin-left: 10px;
  padding: 5px;
}

.chat-icons {
  display: flex;
  align-items: center;
}

.chat-icons i {
  margin-left: 10px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 4px;
  display: none;
}

.dropdown.show .dropdown-content {
  display: block;
  color: white;
  background-color: transparent;
  border: none;
}

.dropdown-item {
  cursor: pointer;
  padding: 5px;
}

.chat-body {
  height: 80%;
  width: 100%;
  color: white;
  background-color: transparent;
  overflow-y: auto;
}

/* .chat-message {
  margin-bottom: 10px;
} */

.user-message {
  background-color: transparent;
  padding: 10px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border-bottom: #f9f9f950 1px solid;
  background-color: transparent;
}

.ai-message {
  background-color: transparent;
  padding: 5px;
  padding: 10px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

.message-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* background-color: lightcyan; */
  }

  .user-info {
    display: flex;
    align-items: center;
    /* margin-right: 10px; */
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    /* background-color: lightcoral; */
    width: 100%;
  }
  .chat-time-dot{
    display: flex;
  }
  
  .time-elapsed {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
  }
  
  .dots-icon {
    margin-left: 10px;
    color: gray;
  }
  
  .message {
    flex-grow: 1;
    display:flex ;
    width: 100%;
  }
  

.chat-input {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 95%;
  position: absolute;
  padding: 10px 10px;
  border-radius: 10px;
  bottom: 25px;
}

.message-input {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color:white;
  border: none;
}

.send-button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
